#main-box {
width: 970px;
margin: 0 auto;
}
#new-selling {
height:500px;
}
/*slide show*/
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:506px; margin:50px auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:500px; height:300px; padding:2px; border:1px solid #ccc; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto;}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(main/left.gif) left center no-repeat}
#imgnext {right:0; background:url(main/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(main/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(main/scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url(main/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}
/* 2nd floor*/
#left-box{
float:left;
width:300px;
height:500px;
position: relative;
border: 1px solid #E6E6E6;
margin-bottom: 12px;
background-color: white;
padding: 10px 15px;
}
#right-box{
float:right;
width:590px;
height:500px;
position: relative;
border: 1px solid #E6E6E6;
margin-bottom: 12px;
background-color: white;
padding: 10px 15px;
}
.hot-list li{
border-bottom:1px dotted #787878;
margin-top:15px;
}
.hot-list a{
color: #333;
text-decoration: none;
}
.hot-list a:hover{
color: #2C76C0;
text-decoration: none;
margin-left:2px;
}
.li-left {
margin-left:17px;
}
.li-right {
float:right;
margin-right:5px;
}

#right-box .more{
margin-top:15px;
}
.cover_box{width:730px; margin:0 0 10px 0; clear:both; float:left;}
.cover_item_box{margin:15px; width:115px; float:left; height:170px;}
.cover_item_imgbox{width:90px; height:120px; margin:10px 14px 10px 14px;}
.cover_item_name{width:110px; margin:0 0 3px 0;  text-align:center; height:36px; }
                 /*overflow: hidden; white-space:nowrap;  -o-text-overflow: ellipsis; text-overflow: ellipsis;}*/
.cover_item_name a{color:#333; text-decoration:none;}
.cover_item_name a:hover{color:#2C76C0; text-decoration:none;}
.cover_item_price{width:auto; margin:0 0 0 3px 0; text-align:center; color:#FF0000;
                  overflow: hidden; white-space:nowrap;  -o-text-overflow: ellipsis; text-overflow: ellipsis;}
.cover_item_price i{color:#000000; font-style:normal;}
.cover_item_imgbox img{width:90px; height:120px; margin:0px; padding:1px;border: 1px solid #E2E2E2;}

#nav_inner h2,h3 {
color:#E8E8E8;
}
#nav_inner a:hover {
color: #2C76C0;
text-decoration: none;
margin-left:2px;
}