html {
	color:#333;
	background:#FFF;
}
h1,h2,h3,h4,h5 {
	color:#333;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
a {
	color:#2c76c0;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#61a7ed;
	text-decoration:underline;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,th,var,optgroup {
	font-style:inherit;
	font-weight:inherit;
}
li {
	list-style:none;
}
input,button,textarea,select,optgroup,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	outline:none;
}
input,button,textarea,select {
	*font-size:100%;
}
html {
	color:#666;
	overflow-y:scroll;
	background:url(site_bg.jpg) no-repeat;
}
body {
	font:12px/20px "微软雅黑",Tahoma,Arial,Helvetica,sans-serif;
}

.white-box h2 {
	margin-bottom:20px;
}

.more {
	float:right;
}